@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .btn {
    @apply flex items-center cursor-pointer rounded-lg px-3 py-1 ring-4 ring-opacity-0 focus-visible:outline-none focus:outline-none hover:scale-[.99] transition-color-shadow;
    -webkit-tap-highlight-color: transparent;
  }
  .tab-hightlight-none{
    -webkit-tap-highlight-color: transparent;
  }
  .underBg{
    background-image:linear-gradient(90deg,#521D99,#AB7CEA);
    background-size:0% 3px;
    background-repeat:no-repeat;
    background-position:left bottom;
    transition: background-size 300ms ease;
  }
  .underBg:hover{
    background-size:100% 3px;
  }
  .asSmallBg {
      background: conic-gradient(
          from 106.75deg at 49.98% 50.65%,
          #000d26ee 0deg,
          rgba(0, 10, 29, 0.9) 187.5deg,
          #000d26ee 360deg
      ),
      url('/assets/smallBg.jpg');
  }
  .asMediumBg {
    background: conic-gradient(
        from 106.75deg at 49.98% 50.65%,
        #000d26ee 0deg,
        rgba(0, 10, 29, 0.9) 187.5deg,
        #000d26ee 360deg
    ),
    url('/assets/mediumBg.jpg');
  }
  .asLargeBg {
    background: conic-gradient(
        from 106.75deg at 49.98% 50.65%,
        #000d26ee 0deg,
        rgba(0, 10, 29, 0.9) 187.5deg,
        #000d26ee 360deg
    ),
    url('/assets/largeBg.jpg');
  }
  .asLargerBg{
      background: conic-gradient(
          from 106.75deg at 49.98% 50.65%,
          #000d26ee 0deg,
          rgba(0, 10, 29, 0.9) 187.5deg,
          #000d26ee 360deg
      ),
      url('/assets/largerBg.jpg');
  }
}