---

---

    <div class="flex flex-col bg-white xs:max-w-[320px] w-max xs:px-4 xs:py-5 mt-8 px-2 rounded-lg h-full xs:shadow-edge">
      <h1 class="font-bold text-2xl text-blueGray-900">Education</h1>
      <div class="mt-4 flex">
        <div class="">
          <h1 class="text-sm font-medium font-sans tracking-normal text-blueGray-500">B.tech A.I & C.S</h1>
          <p class="text-lg font-bold text-blueGray-600">Sri Sri University</p>
        </div>
        <div class="ml-2">
          <h1 class="text-sm font-medium font-sans tracking-normal text-blueGray-500">Status</h1>
          <p class="text-lg font-bold text-yellow-400">Going On</p>
        </div>
      </div>
      <div class="mt-4 flex">
        <div class="">
          <h1 class="text-sm font-medium font-sans tracking-normal text-blueGray-500">12th CBSE Board</h1>
          <p class="text-lg font-bold text-blueGray-600">Kendriya Vidyalya</p>
        </div>
        <div class="ml-2">
          <h1 class="text-sm font-medium font-sans tracking-normal text-blueGray-500">%</h1>
          <p class="text-lg font-bold text-green-400">92.6%</p>
        </div>
      </div>
    </div>