---
import BaseLayout from "../layouts/home.astro"
import Underline from "../components/connect/Underline.svelte"
import Model from "../components/connect/Model.jsx"
---
<BaseLayout title="Sukhpreet Singh Web developer" description="My personel portfolio to show recuriter how able I am to do stuff ." classes1="flex selection:bg-lightBlue-500/10 selection:text-lightBlue-600 items-center flex-col bg-blueGray-1000 min-h-[100vh]" >
    <section id="Contact-section" class="flex px-10 pt-20 ">
      <article id="Content" class="items-center justify-center hidden w-full md:flex">
        <div class="w-max">
        <h1 class="mb-10 font-sans text-6xl font-bold text-white ">
          <Underline client:visible color="#FF0060">Get&nbsp;in&nbsp;touch.</Underline>
        </h1>
          <p class="text-xl text-blueGray-400">
            Want to hire ?
          </p>
          <p class="text-xl text-blueGray-400">
            Or need some help ?
          </p>
          <p class="text-xl text-blueGray-400">
            Or looking for a friend ?
          </p>
          <p class="text-xl text-blueGray-400">
            Anyway! feel free to contact me .
          </p>
          </div>
      </article>
      <article class="flex items-center justify-center w-full">
        <form id="FORM" data-ismodelopen="false" class="relative max-w-sm w-72 top-10">
            <div class="relative mb-10">
              <h1 id="alertEmail" class="absolute -top-6 right-2 text-rose-500 font-round"></h1>
              <input
                  id="email"
                  name="email"
                  type="email"
                  placeholder="Email"
                  autocomplete="off"
                  class="box-border relative z-10 w-full h-10 p-2 text-base placeholder-transparent bg-transparent border-2 border-gray-300 rounded-lg peer text-blueGray-300 focus:outline-none focus:border-indigo-600"
              />
              <label
                  class="absolute z-0 text-sm text-gray-600 transition-all left-2 -top-6 peer-placeholder-shown:text-gray-300 peer-placeholder-shown:text-base peer-placeholder-shown:top-2 peer-focus:-top-6 peer-focus:text-gray-600 peer-focus:text-sm"
                  for="usernameField"
                  >Email Address</label
              >
          </div>
          <div class="relative mb-10">
              <h1 id="alertMsg" class="absolute -top-6 right-2 text-rose-500 font-round"></h1>
              <textarea
                  type="text"
                  id="msg"
                  name="msg"
                  placeholder="Message"
                  autocomplete="off"
                  rows="3"
                  class="relative z-10 w-full p-2 text-base placeholder-transparent bg-transparent border-2 border-gray-300 rounded-lg peer text-blueGray-300 focus:outline-none focus:border-indigo-600"
              />
              <label
                  class="absolute z-0 text-sm text-gray-600 transition-all left-2 -top-6 peer-placeholder-shown:text-gray-300 peer-placeholder-shown:text-base peer-placeholder-shown:top-2 peer-focus:-top-6 peer-focus:text-gray-600 peer-focus:text-sm"
                  for="Message"
                  >Message</label
              >
              <h1 id="checkMsg" class="absolute -bottom-6 right-9 text-rose-500 font-round opacity-100 transition-color duration-700"></h1>
              <h1 id="correctMsg" class="absolute -bottom-6 right-2 text-green-500 font-round opacity-100 transition-color duration-700"><span class="text-white">/</span>10</h1>
          </div>
          <Model client:load/>
        </form>
      </article>
    </section> 
    <script slot="bottomScript" type="module" src="../service/main.js"></script>
</BaseLayout>