---
import BaseHead from "../components/BaseHead.astro"
import Navigation from "../components/Navigation.astro"
import Underline from "../components/Underline.svelte"
---
<html lang={'en' }>
  <head>
    <BaseHead title="Sukhpreet Singh Web developer" description="My personel portfolio to show recuriter how able I am to do stuff ." permalink='www.example.com' />
  </head>
  <body>
      <section class="flex selection:bg-lightBlue-500/10 selection:text-lightBlue-600 items-center flex-col bg-blueGray-1000 min-h-[100vh]">
        <div class=" max-w-[1000px] w-full">
          <Navigation/>
          <section id="Contact-section" class="pt-20 px-10 flex">
            <article id="Content" class="w-full hidden md:flex items-center justify-center">
              <div class="w-max">
              <h1 class="text-6xl text-white font-sans font-bold mb-10 ">
                <Underline client:visible color="#FF0060">Get&nbsp;in&nbsp;touch.</Underline>
              </h1>
                <p class="text-xl text-blueGray-400">
                  Want to hire ?
                </p>
                <p class="text-xl text-blueGray-400">
                  Or need some help ?
                </p>
                <p class="text-xl text-blueGray-400">
                  Or looking for a friend ?
                </p>
                <p class="text-xl text-blueGray-400">
                  Anyway! feel free to contact me .
                </p>
                </div>
            </article>
            <article class="w-full flex items-center justify-center">
              <form id="FORM" class="max-w-sm w-72 relative top-10">
                  <div class="mb-10 relative">
                    <h1 id="alertEmail" class="absolute -top-6 right-2 text-rose-500 font-round"></h1>
                    <input
                        id="email"
                        name="email"
                        type="email"
                        placeholder="Email"
                        autocomplete="off"
                        class="
                            z-10
                            relative
                            bg-transparent
                            h-10
                            peer
                            border-2
                            rounded-lg
                            p-2
                            box-border
                            text-base
                            border-gray-300
                            text-blueGray-300
                            placeholder-transparent
                            focus:outline-none focus:border-indigo-600
                            w-full
                        "
                    />
                    <label
                        class="
                            z-0
                            text-sm
                            transition-all
                            absolute
                            text-gray-600
                            left-2
                            -top-6
                            peer-placeholder-shown:text-gray-300
                            peer-placeholder-shown:text-base
                            peer-placeholder-shown:top-2
                            peer-focus:-top-6
                            peer-focus:text-gray-600
                            peer-focus:text-sm
                        "
                        for="usernameField"
                        >Email Address</label
                    >
                </div>
                <div class="mb-10 relative">
                    <h1 id="alertMsg" class="absolute -top-6 right-2 text-rose-500 font-round"></h1>
                    <textarea
                        type="text"
                        id="msg"
                        name="msg"
                        placeholder="Message"
                        autocomplete="off"
                        rows="3"
                        class="
                            z-10
                            text-base
                            border-2
                            bg-transparent
                            relative
                            p-2
                            peer
                            rounded-lg
                            border-gray-300
                            text-blueGray-300
                            placeholder-transparent
                            focus:outline-none focus:border-indigo-600
                            w-full
                        "
                    />
                    <label
                        class="
                            z-0
                            text-sm
                            transition-all
                            absolute
                            text-gray-600
                            left-2
                            -top-6
                            peer-placeholder-shown:text-gray-300
                            peer-placeholder-shown:text-base
                            peer-placeholder-shown:top-2
                            peer-focus:-top-6
                            peer-focus:text-gray-600
                            peer-focus:text-sm
                        "
                        for="Message"
                        >Message</label
                    >
                </div>
                <button id="sumbitButton" type="submit" class="focus:ring-2 focus:ring-offset-4 ring-offset-blue-500 px-2 py-1 bg-white text-blueGray-700 hover:text-black tab-hightlight-none rounded-lg text-lg">Send</button>
              </form>
            </article>
          </section> 
        </div>
      </section>
      <script type="module" src="../service/main.js"></script>
  </body>
</html>