---
import BaseLayout from "../layouts/home.astro"
import ProjectCards from "../components/index/projectCards.astro"
import Intro from "../components/index/Intro.svelte"
import Carousel from "../components/index/carousel.astro"
import allProjects from '../data/project.json';

const allPosts = allProjects.sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));

---
<BaseLayout 
    title="Sukhpreet Singh Web developer" 
    description="My personel portfolio to show recuriter how able I am to do stuff ." 
  >
    <script type="text/javascript" slot="topScript">
        (async function() {
        if (CSS["paintWorklet"] === undefined)
          await import(
            "https://unpkg.com/css-paint-polyfill@next/dist/css-paint-polyfill.js"
          );
        CSS.paintWorklet.addModule(
          "https://unpkg.com/curved-line@1.0.0/curved-line.js"
        );
      })();
    </script>
        <section class="flex flex-col items-center justify-center w-full pt-16 pb-28">
            <div class="flex flex-col gap-16 px-10 lg:flex-row">
            <article
                id="background-circle"
                class="relative z-0 flex items-center justify-center flex-shrink-0 w-32 h-32 rounded-full lg:w-64 md:w-52 sm:w-44 lg:h-64 md:h-52 sm:h-44"
                style="
                    background: radial-gradient(
                        circle,
                        hsla(231, 100%, 50%, 1) 0%,
                        hsla(196, 100%, 50%, 1) 100%
                    );
                "
            >
                <!-- <div class="z-10 blur-[2px] text-black  absolute flex h-full w-full items-center justify-center text-5xl">Anshu</div> -->
                <div
                    id="photo"
                    class="relative z-10 rounded-full lg:w-56 md:w-44 sm:w-36 w-28 opacity-80 lg:h-56 md:h-44 sm:h-36 h-28"
                    style="
                        box-shadow: 0px 0px 60px 1px hsla(210, 100%, 70%, 1);
                        background-position: top center;
                        background-size: cover;
                        background-image: url('/pic.jpeg');
                    "
                ></div>
            </article>
                <Intro client:idle/>
            </div>
            <!-- <div
                class="font-semibold text-white text-opacity-40 font-jetMono mt-24"
            >
                <h1 class="ml-8 text-xl">I used these technologies to build this site .</h1>
                <Carousel/>
            </div> -->
            <div
                class="flex flex-col items-start justify-start h-full max-w-2xl px-5 mt-44"
            >
                <h1 intersect="!opacity-100" class="mt-10 mb-12 font-sans text-left text-white transition-opacity duration-1000 opacity-0 text-7xl" >
                    Projects
                </h1>
                <div id="Projects" class="flex flex-col gap-10 text-left">
                    <ProjectCards allProjects={allPosts}/>
                <div/>
            </div>
      <div class="flex items-center justify-center w-full mt-20">
          <span class="px-3 py-2 text-xs rounded-lg bg-blueGray-1000 text-white">
              Background Photo by <a href="https://unsplash.com/@williamdaigneault?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">William Daigneault</a> on <a href="https://unsplash.com/@williamdaigneault?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
          </span>
      </div>
        </section>
    <script type="text/javascript" slot="bottomScript" >
    // No-delete Can be use in future
    // let scrollElement = document.querySelector('#scroll');
    // let scrollItems = document.querySelectorAll('#scroll-item');

    // scrollItems.forEach((ele,i)=>{
    //   ele.animate(
    //     [
    //       {
    //         left: `0px`,
    //       },
    //       {
    //         left: `-${window.innerWidth > 768 ?  1878-window.innerWidth : (window.innerWidth > 640 ? 1726.9-window.innerWidth : 1208.8-window.innerWidth)}px`
    //       },
    //     ],
    //     {
    //       direction: 'normal',
    //       fill: 'forwards',
    //       duration: 20000,
    //       easing:'linear'
    //     }
    //   );
    // });
    // let scrollWidth = ;
    // let playBackRate = 1;
    // window.setInterval(function() {
    //   if(playBackRate===1){
    //       scrollElement.scrollLeft = scrollElement.scrollLeft + 1
    //       if((scrollElement.scrollLeft)===(scrollElement.scrollWidth-scrollElement.offsetWidth)){
    //         playBackRate = -1;
    //       }
    //     } else {
    //       scrollElement.scrollLeft = scrollElement.scrollLeft - 1;
    //       if((scrollElement.scrollLeft)<10){
    //         playBackRate = 1;
    //       }
    //     }
    //   },10);

      let ele;
      let ale = {} ;
        document.querySelectorAll('#backdrop').forEach((ele,i)=>{
          ele.addEventListener('mouseenter',()=>{
            if( ale[i] === undefined ){
              ale[i] = ele.animate([
                {
                        backdropFilter: 'blur(0px)',
                        backgroundColor: 'rgba(20, 56, 167, 0)', 
                        borderColor: 'rgba(142, 152, 242, 0)',
                      },
                      {
                        backdropFilter: 'blur(6px)',
                        backgroundColor: 'rgba(72, 86, 221, 0.1)', 
                        borderColor: 'rgba(190, 196, 250, 0.5)',
                      },],
                    {
                      direction: 'normal',
                      fill: 'forwards',
                      duration: 500,
                      easing:'cubic-bezier(0.52, 0.16, 0.24, 1)'
                    })
              }
            ale[i].playbackRate = +1;
              ale[i].play();
          },false);
          ele.addEventListener('mouseleave',()=>{      
            ale[i].playbackRate = -1;
            ale[i].play();
          })
        });
      function intersect() {
        let observer = new IntersectionObserver((entries, observer)=>{
          entries.forEach((entry) => {
            const animation = entry.target.getAttribute("intersect");
            if (animation === null) {
              return
            }
            if (entry.isIntersecting) {
              entry.target.classList.add(animation);
            } else {
              entry.target.classList.remove(animation);
            }
          });
        }, 
        {
          root: null,
          // Want to animate late after intersecting use see example
          // rootMargin: "-50px 0px -50px 0px",
          rootMargin: '0px',
          threshold: 1.0,
        });
        const elements = [...document.querySelectorAll('h1[intersect]')];
        elements.forEach((element) => observer.observe(element));
      }
      intersect();
    </script>
</BaseLayout>
