---
import BaseLayout from "../layouts/home.astro"
import ProjectCards from "../components/index/projectCards.astro"
import Intro from "../components/Intro.svelte"

// zindex-0
// photo zindex-10

// Data Fetching: List all Markdown projects in the repo .
let allProjects = Astro.fetchContent('./Projects/*.md');
// allPosts = allPosts.sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));


---
<BaseLayout title="Homepage" description="HomePage" permalink ='https://example.com/'>
        <section class="w-full pt-16 pb-28 flex flex-col items-center justify-center">
            <div class=" flex lg:flex-row flex-col gap-16 px-10">
            <article
                id="background-circle"
                class="
                    flex-shrink-0
                    rounded-full
                    lg:w-64
                    md:w-52
                    sm:w-44
                    w-32
                    lg:h-64
                    md:h-52
                    sm:h-44
                    h-32
                    z-0
                    relative
                    flex
                    items-center
                    justify-center
                "
                style="
                    background: radial-gradient(
                        circle,
                        hsla(231, 100%, 50%, 1) 0%,
                        hsla(196, 100%, 50%, 1) 100%
                    );
                "
            >
                <!-- <div class="z-10 blur-[2px] text-black  absolute flex h-full w-full items-center justify-center text-5xl">Anshu</div> -->
                <div
                    id="photo"
                    class="
                        lg:w-56
                        md:w-44
                        sm:w-36
                        w-28
                        relative
                        z-10
                        opacity-80
                        lg:h-56
                        md:h-44
                        sm:h-36
                        h-28
                        rounded-full
                    "
                    style="
                        box-shadow: 0px 0px 60px 1px hsla(210, 100%, 70%, 1);
                        background-position: center center;
                        background-size: cover;
                        background-image: url('');
                    "
                ></div>
            </article>
                <Intro client:idle/>
            </div>
            <div
                class="
                    mt-44
                    max-w-2xl
                    h-full
                    flex flex-col
                    items-start
                    justify-start
                    px-5
                "
            >
                <h1 class="text-white font-sans text-7xl text-left">
                    Projects
                </h1>
                <ul class="mt-10 max-w-3xl text-left">
                    <ProjectCards allProjects={allProjects}/>
                </ul>
            </div>
            <ul
                class="
                    text-white text-opacity-40
                    mt-10
                    font-jetMono font-semibold
                "
            >
                <h1 class="text-xl ml-8">I like !</h1>
                <section
                    class="
                        w-full
                        h-full
                        flex flex-col
                        justify-center
                        items-center
                    "
                >
                    <article
                        class="
                            p-4
                            max-w-xl
                            grid grid-flow-col grid-cols-2 grid-rows-3
                            sm:grid-cols-3 sm:grid-rows-2
                            place-items-center
                            gap-4
                        "
                    >
                        <a class="flex items-center h-12 w-auto" href="#">
                            <img src="/assets/StackLogo/nuxtLogo.svg" />
                        </a>
                        <a class="flex items-center h-12 w-auto" href="#">
                            <img src="/assets/StackLogo/viteLogo.svg" class="w-10" />
                            <h1 class="text-white text-4xl">&nbsp;Vite</h1>
                        </a>
                        <a class="flex items-center h-12 w-auto" href="#">
                            <img
                                class="w-10"
                                id="vueLogo"
                                src="https://camo.githubusercontent.com/c8f91d18976e27123643a926a2588b8d931a0292fd0b6532c3155379e8591629/68747470733a2f2f7675656a732e6f72672f696d616765732f6c6f676f2e706e67"
                            />
                            <h1 class="text-white text-4xl">&nbsp;Vue</h1>
                        </a>
                        <a class="flex items-center h-12 w-auto" href="#">
                            <img src="/assets/StackLogo/tailwindLogo.svg" class="h-12 w-auto" />
                        </a>
                        <a class="flex items-center h-12 w-auto" href="#">
                            <img src="/assets/StackLogo/headlessUiLogo.svg" class="h-24 w-auto" />
                        </a>
                        <a class="flex items-center h-12 w-auto" href="#">
                            <img src="/assets/StackLogo/heroIconsLogo.svg" class="h-24 w-auto" />
                        </a>
                    </article>
                </section>
            </ul>
        </section>
</BaseLayout>
