---
import { Markdown } from 'astro/components';
import BaseLayout from '../../layouts/project.astro';
import blogData from '../../data/blog.json';
import Tr from '../../components/FUN/Tr.astro';

let [thisPage] =  blogData.filter( ( a ) => a.url === Astro.request.url.pathname );

---
<BaseLayout content={{
  title: thisPage.title,
  subTitle: thisPage.subTitle,
  publishDate: thisPage.publishDate,
  imageSrc:''
}}>
  <section class="relative w-full h-screen flex flex-col space-y-10  justify-center ">
    <div class="flex place-content-around">
      <button id="OPACITY" class="focus:ring-cyan-500 ring-2 px-3 py-1 rounded-lg bg-blue-500/10 text-cyan-500">play Animation</button>
      <div class="flex space-x-2">
        <button id="CODE1" class="focus:ring-indigo-500 ring-2 px-3 py-1 rounded-lg bg-violet-500/10 text-indigo-500">Code</button>
        <h6>OPACITY</h6>
      </div>
    </div>
    <Tr 
      uid="AS" 
      toId="OPACITY" 
      event="click"
      enter="duration-400" 
      enterFrom="opacity-0" 
      enterTo="opacity-1"
      $class="absolute w-64 h-64 opacity-0 rounded-lg bg-blueGray-300"
    >
    </Tr>
    <Tr uid="Code1" toId="CODE1" event="click"
    enter="duration-400" 
    enterFrom="opacity-0"
    enterTo="opacity-1"
    $class="opacity-0 p-4 rounded-lg bg-blueGray-300">
      <Markdown>
        ```html
        <Tr 
          uid="AS"
          toId="OPACITY" 
          event="click" 
          enter="duration-400"  
          enterFrom="opacity-0"  
          enterTo="opacity-1" 
          $class="absolute w-64 h-64 opacity-0 rounded-lg bg-blueGray-300"
        ></Tr>
        ```
      </Markdown>
    </Tr>
  </section>
  <section class="relative w-full h-screen flex flex-col space-y-10  justify-center ">
    <div class="flex place-content-around">
      <button id="SCALE1" class="focus:ring-cyan-500 ring-2 px-3 py-1 rounded-lg bg-blue-500/10 text-cyan-500">play Animation</button>
      <div class="flex space-x-2">
        <button id="CODE2" class="focus:ring-indigo-500 ring-2 px-3 py-1 rounded-lg bg-violet-500/10 text-indigo-500">Code</button>
        <h6>OPACITY</h6>
        <h6>SCALE</h6>
      </div>
    </div>
    <div class="flex pt-10 items-center justify-center">
      <Tr uid="Scale" toId="SCALE1" event="click"
        enter="duration-400" 
        enterFrom="opacity-0 scale-0.6" 
        enterTo="opacity-1 scale-1"
        leave="duration-500"
        leaveFrom="opacity-1 scale-1"
        leaveTo="opacity-0 scale-0.6"
        easing="ease-in"
        $class="w-64 h-64 opacity-0 rounded-lg bg-blueGray-300"></Tr>
    </div>
    <Tr uid="Code2" toId="CODE2" event="click"
    enter="duration-400"
    enterFrom="opacity-0"
    enterTo="opacity-1"
    $class="absolute -bottom-4 opacity-0 p-4 rounded-lg bg-blueGray-300">
      <Markdown>
        ```html
        <Tr 
          uid="AS"
          toId="OPACITY" 
          event="click" 
          enter="duration-400"  
          enterFrom="opacity-0"  
          enterTo="opacity-1" 
          $class="absolute w-64 h-64 opacity-0 rounded-lg bg-blueGray-300"
        ></Tr>
        ```
      </Markdown>
    </Tr>
  </section>
  <section class="relative w-full h-full flex flex-col space-y-10  justify-center ">
    <div class="flex place-content-around">
      <button id="ROTATE1" class="focus:ring-cyan-500 ring-2 px-3 py-1 rounded-lg bg-blue-500/10 text-cyan-500">play Animation</button>
      <div class="flex space-x-2">
        <button id="CODE3" class="focus:ring-indigo-500 ring-2 px-3 py-1 rounded-lg bg-violet-500/10 text-indigo-500">Code</button>
        <h6>OPACITY</h6>
        <h6>SCALE</h6>
        <h6>ROTATE</h6>
      </div>
    </div>
    <div class="flex pt-10 items-center justify-center">
      <Tr uid="Rotate" toId="ROTATE1" event="click"
        enter="duration-400" 
        enterFrom="opacity-0.5 scale-0.6 rotate-90deg" 
        enterTo="opacity-1 scale-1 rotate-0deg"
        leave="duration-500"
        leaveFrom="opacity-1 scale-1 rotate-0deg"
        leaveTo="opacity-0.5 scale-0.6 rotate-90deg"
        easing="ease-in"
        $class="w-64 h-64 opacity-0 rounded-lg bg-blueGray-300"></Tr>
    </div>
    <Tr uid="Code3" toId="CODE3" event="click"
    enter="duration-400"
    enterFrom="opacity-0"
    enterTo="opacity-1"
    $class="absolute top-10 w-full opacity-0 p-4 rounded-lg bg-blueGray-300">
      <Markdown>
        ```html
        <Tr 
          uid="Rotate"
          toId="ROTATE1" 
          event="click"
          enter="duration-400" 
          enterFrom="opacity-0.5 scale-0.6 rotate-90deg" 
          enterTo="opacity-1 scale-1 rotate-0deg"
          leave="duration-500"
          leaveFrom="opacity-1 scale-1 rotate-0deg"
          leaveTo="opacity-0.5 scale-0.6 rotate-90deg"
          easing="ease-in"
          $class="w-64 h-64 opacity-0 rounded-lg bg-blueGray-300">
        </Tr>
        ```
      </Markdown>
    </Tr>
  </section>
  <section class="top-56 relative w-full h-screen flex flex-col space-y-10  justify-center ">
    <div class="flex place-content-around">
      <button id="TRANSLATE1" class="focus:ring-cyan-500 ring-2 px-3 py-1 rounded-lg bg-blue-500/10 text-cyan-500">play Animation</button>
      <div class="flex space-x-2">
        <button id="CODE4" class="focus:ring-indigo-500 ring-2 px-3 py-1 rounded-lg bg-violet-500/10 text-indigo-500">Code</button>
        <h6>Complex</h6>
        <h6>Opacity</h6>
        <h6>Scale</h6>
      </div>
    </div>
    <div class="flex pt-10 items-center justify-center">
      <Tr uid="Translate" toId="TRANSLATE1" event="click"
        enter="duration-400"
        enterFrom="opacity-0.4 scale-1 borderRadius-20px" 
        enterTo="opacity-1 scale-1.4 borderRadius-40px"
        easing="ease-in"
        $class="w-96 h-72 scale-50 flex-wrap opacity-40 flex relative rounded-3xl bg-blueGray-300">
          <Tr uid="Translate1" toId="TRANSLATE1" event="click"
          enter="duration-400"
          enterFrom="opacity-0.1 scale-1 borderRadius-20px" 
          enterTo="opacity-1 scale-1.4 borderRadius-40px"
          easing="ease-in"
          $class="w-48 h-48 flex-shrink-0 scale-50 opacity-10 rounded-lg bg-blueGray-100" >
          </Tr>
          <Tr uid="Translate2" toId="TRANSLATE1" event="click"
          enter="duration-400"
          enterFrom="opacity-0.1 scale-1 borderRadius-20px" 
          enterTo="opacity-1 scale-1.4 borderRadius-40px"
          easing="ease-in"
          $class="w-48 h-48 flex-shrink-0 scale-50 opacity-10 rounded-lg bg-blueGray-100" >
          </Tr>
          <Tr uid="Translate4" toId="TRANSLATE1" event="click"
          enter="duration-400"
          enterFrom="opacity-0.1 backgroundColor-#FFF width-0 borderRadius-10px" 
          enterTo="opacity-0.9 backgroundColor-#FF0060 width-90% borderRadius-20px"
          easing="ease-in"
          $class="absolute -bottom-5 ml-5 h-20 mb-10 opacity-10 rounded-lg bg-blueGray-100" >
          </Tr>
        </Tr>
    </div>
    <Tr uid="Code4" toId="CODE4" event="click"
    enter="duration-400"
    enterFrom="opacity-0"
    enterTo="opacity-1"
    $class="absolute top-36 w-full opacity-0 p-4 rounded-lg bg-blueGray-300">
      <Markdown>
        ```html
      <Tr uid="Translate" toId="TRANSLATE1" event="click"
        enter="duration-400"
        enterFrom="opacity-0.4 scale-1 borderRadius-20px" 
        enterTo="opacity-1 scale-1.4 borderRadius-40px"
        easing="ease-in"
        $class="w-96 h-72 scale-50 flex-wrap opacity-40 flex relative rounded-3xl bg-blueGray-300">
          <Tr uid="Translate1" toId="TRANSLATE1" event="click"
          enter="duration-400"
          enterFrom="opacity-0.1 scale-1 borderRadius-20px" 
          enterTo="opacity-1 scale-1.4 borderRadius-40px"
          easing="ease-in"
          $class="w-48 h-48 flex-shrink-0 scale-50 opacity-10 rounded-lg bg-blueGray-100" >
          </Tr>
          <Tr uid="Translate2" toId="TRANSLATE1" event="click"
          enter="duration-400"
          enterFrom="opacity-0.1 scale-1 borderRadius-20px" 
          enterTo="opacity-1 scale-1.4 borderRadius-40px"
          easing="ease-in"
          $class="w-48 h-48 flex-shrink-0 scale-50 opacity-10 rounded-lg bg-blueGray-100" >
          </Tr>
          <Tr uid="Translate4" toId="TRANSLATE1" event="click"
          enter="duration-400"
          enterFrom="opacity-0.1 backgroundColor-#FFF width-0 borderRadius-10px" 
          enterTo="opacity-0.9 backgroundColor-#FF0060 width-90% borderRadius-20px"
          easing="ease-in"
          $class="absolute -bottom-5 ml-5 h-20 mb-10 opacity-10 rounded-lg bg-blueGray-100" >
          </Tr>
        </Tr>
        ```
      </Markdown>
    </Tr>
  </section>
</BaseLayout>