---

---
<section
    id="scroll" class="inline-flex gap-2 overflow-y-hidden w-full h-20 mt-10"
>
        <a  href="https://nuxtjs.org/" id="scroll-item" class="flex flex-shrink-0 items-center w-auto h-12">
            <img src="/assets/StackLogo/nuxtLogo.svg" alt="Nuxt Logo" class="w-auto h-20" />
        </a>
        <a href="https://vitejs.dev/" id="scroll-item" class="flex flex-shrink-0 items-center w-max h-12">
            <img src="/assets/StackLogo/viteLogo.svg" alt="vite Logo" class="w-auto h-12" />
            <h1 class="text-5xl text-white">Vite</h1>
        </a>
        <a href="https://v3.vuejs.org/" id="scroll-item" class="flex flex-shrink-0 items-center w-max h-12">
            <img
                class="w-12"
                id="vueLogo"
                alt="Vue Logo"
                src="https://camo.githubusercontent.com/c8f91d18976e27123643a926a2588b8d931a0292fd0b6532c3155379e8591629/68747470733a2f2f7675656a732e6f72672f696d616765732f6c6f676f2e706e67"
            />
            <h1 class="text-5xl text-white">Vue</h1>
        </a>
        <a href="https://tailwindcss.com" id="scroll-item" class="flex flex-shrink-0 items-center w-auto h-12">
            <img src="/assets/StackLogo/tailwindLogo.svg" alt="tailwindcss Logo" class="w-auto h-12" />
        </a>
        <a href="https://headlessui.dev/" id="scroll-item" class="flex flex-shrink-0 items-center w-auto h-12">
            <img src="/assets/StackLogo/headlessUiLogo.svg" alt="HeadlessUI logo" class="w-auto h-20" />
        </a>
        <a href="https://heroicons.com/" id="scroll-item" class="flex flex-shrink-0 items-center w-auto h-12">
            <img src="/assets/StackLogo/heroIconsLogo.svg" alt="Heroicons Logo" class="w-auto h-20" />
        </a>
</section>