---
const { title = 'Card Title', subTitle = "Card Sub Title" , link = "#" } = Astro.props;
import Ex from '../FUN/backdrop&intersection.svelte'
---
<!-- <button id="backdrop" class="px-5 py-5 text-2xl text-left text-white bg-transparent border-2 border-transparent rounded-2xl sm:px-10 group"> -->
<Ex client:visible >
        <a id="" tabindex="-1" href={link}>
                <p> {title} <br> <span class="text-lg text-blueGray-100"> {subTitle} </span> </p>
                <a href={link} tabindex="-1" class="pb-0.5 text-base underBg group-hover:underBgSize text-blueGray-200"> Read About it ! </a>
                <hr class="relative -top-1.5 group-hover:w-[105px]"/>
        </a>
</Ex>
<!-- </button> -->

<style>
hr {
  --curved-lineHeight: 4;
  --curved-lineWidth: 1;
  --curved-lineColor: #FFFFFF;
  --curved-lineSpread: 3;
  height: 8px;
  width: 0px;
  border: 0;
  background: paint(curved-line);
  transition: width 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
</style>