---
const {title,description,permalink} = Astro.props;
import CustomNavigation from '../components/Navigation.astro';
import BaseHead from '../components/BaseHead.astro';
---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <link rel="stylesheet" type="text/css" href="/global.css">
  </head>
  <body>
    <!-- navigation bar + Background-->
      <section class="asSmallBg md:asMediumBg lg:asLargeBg xl:asLargerBg bg-cover flex items-center flex-col">
        <div class=" max-w-[1000px] w-full ">
        <CustomNavigation/>
        <!-- slot: your page content will be injected here. -->
        <slot />
        </div>
      </section>
  </body>
</html>