---
import CustomNavigation from '../components/Navigation.astro';
import HeadSEO from '../components/HeadSEO.astro';
import HeadCommon from '../components/HeadCommon.astro'
---
<html lang="en">
  <head>
    <HeadCommon />
    <HeadSEO /> 
  </head>
  <body>
    <!-- navigation bar + Background-->
      <section class="asSmallBg md:asMediumBg lg:asLargeBg xl:asLargerBg bg-cover flex items-center flex-col">
        <div class=" max-w-[1000px] w-full ">
        <CustomNavigation/>
        <!-- slot: your page content will be injected here. -->
        <slot />
        </div>
      </section>
  </body>
</html>