---
import CustomNavigation from '../components/Navigation.astro';
import SEO from "../components/SEO.astro";
import HeadCommon from '../components/HeadCommon.astro'
const { title, description } = Astro.props;
---
<html lang="en">
  <head>
    <HeadCommon />
    <SEO canonicalURL={Astro.request.canonicalURL} />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
  </head>
  <body>
    <!-- navigation bar + Background-->
      <section class="asSmallBg md:asMediumBg lg:asLargeBg xl:asLargerBg bg-cover flex items-center flex-col">
        <div class=" max-w-[1000px] w-full ">
        <CustomNavigation/>
        <!-- slot: your page content will be injected here. -->
        <slot />
        </div>
      </section>
  </body>
</html>