---
import { Markdown } from 'astro/components';
import BaseHead from '../components/SEO&PAGES/SEO/BaseHead.astro';
const {content} = Astro.props;
const {title, subTitle, publishDate} = content;
---
<html lang={ content.lang || 'en' }>
  <head>
    <BaseHead title={title} description={subTitle} permalink='www.example.com'/>
  </head>
  <body class="bg-blueGray-1000 flex flex-col items-center w-full p-10 sm:p-0">
    <div class="bg-blueGray-1000 prose-dark-indigo selection:bg-lightBlue-100 selection:text-blue-600 max-w-[300px] zss:max-w-xs zs:max-w-sm xss:max-w-[calc(100vw-96px)] sm:prose-lg md:prose-xl prose md:!max-w-[840px] lg:pt-16 md:pt-10 sm:p-8">
      <slot/>
    </div>
  </body>
</html>