---
import { Markdown } from 'astro/components';
import BaseHead from '../components/BaseHead.astro';
const {content} = Astro.props;
const {title, subTitle, publishDate} = content;
---
<html lang={ content.lang || 'en' }>
  <head>
    <BaseHead title={title} description={subTitle} permalink='www.example.com' />
    <link rel="stylesheet" type="text/css" href="/code.css">
    <link rel="stylesheet" type="text/css" href="/global.css">
  </head>
  <body class="w-full flex flex-col p-10 sm:p-0  items-center">
    <div class="selection:bg-lightBlue-100 selection:text-blue-600 prose lg:prose-lg xl:prose-xl lg:pt-16 md:pt-10 sm:p-8 prose-indigo">
      <slot/>
    </div>
  </body>
</html>

